{% extends 'common.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block title %}Posts {% endblock title %}
{% block content %}
<!-- Modal -->
<div id="postModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{ title }}</h4>
      </div>
      <div class="modal-body">
        <form method="POST" action='.' enctype="multipart/form-data">{% csrf_token  %}
        {{ form|crispy }}
        <input class="button button-default" id="update_post" value="Post" type="submit" />
      </form>
      {{ form.media }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- end Modal -->
    <div class="row justify-content-md-center post">
      <div class="col-12">
        {% if posts %}
        <div class="row justify-content-md-left posts" >
          {% for post in posts %}
          <div class="col-lg-6 d-flex align-items-stretch content">
          <div class="card" style="width: 100%;">
            {% if post.blog_image %}
             <img  class="card-img-top" src='{{ post.blog_image.url }}' class='img-responsive' height="250"  />
            {% else %}
            <img  src="{{ post.image.url }}" alt="{{post.title}}" height="250" >
            {% endif %}
            <div class="card-body">
              <h5 class="card-title">{{ post.title }}</h5>
              <p class="card-text">{{ post.content|safe|linebreaks|truncatechars:70 }}</p>
              <a href='posts/{{post.slug}}' class="btn btn-small btn-primary">Read more ...</a>
          </div>
          <div class="card-footer">

            <a class="card-link" href=""> {{ post.author }}</a>
            <a class="card-link" href="">{{ post.date_created }}</a>
            {% if post.user_id.pk == request.user.pk %}
            <a class='editPost' href='{{post.slug}}/edit'>
              <img class="glyph-icon" src='{% static "glyph-iconset-master/svg/si-glyph-document-plus.svg" %}'/></a>
              <span class="glyphicon glyphicon-pencil"></span>
            {% endif %}
          </div>
        </div>
          </div>
          {% endfor %}
          {% else %}
          <h4> No Posts available yet</h4>
          {% endif %}
        </div>

      </div>


  </div>
{% endblock content %}
